@use "./mixins/appear.scss";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Code+Pro:wght@400;700&display=swap');

:root {
    // Color palette
    --palette-sky-blue-crayola: #2DE1FC;
    
    font-family: "Playfair Display", serif;
}

body {
    margin: 0;
}
